## Creating Descriptive Statistics

### Statistical Terms

#### Observations
Rows in the table

#### Variables
Columns in the table
It can be sub-divided into two types:
1. Categorical Variable eg.(Male, Female)- It contains qualitative values (Frequency of Observations/Frequency Table)
2. Numeric Variable (or Quantitative Values)- Mean, Median, Max, Min

In [1]:
# Set the working directory
setwd("C:/DataScience")

In [2]:
# Read a tab-delimited data file
cars <- read.csv("Cars.csv")

In [3]:
# Peek at the data
head(cars)

  Name           Transmission Cylinders Fuel.Economy
1 Mazda RX4      Manual       6         21.0
2 Mazda RX4 Wag  Manual       6         21.0
3 Datsun 710     Manual       4         22.8
4 Hornet 4 Drive Automatic    6         21.4
5 Hornet Sport   Automatic    8         18.7
6 Valiant        Automatic    6         18.1

In [4]:
# Create a frequency table
table(cars$Transmission)

Automatic    Manual
       19        13

In [5]:
# Get the minimum value
min(cars$Fuel.Economy)

[1] 10.4

In [6]:
# Get the maximum value
max(cars$Fuel.Economy)

[1] 33.9

In [7]:
# Get the average value
mean(cars$Fuel.Economy)

[1] 20.09062

In [8]:
# Get the median value
median(cars$Fuel.Economy)

[1] 19.2

In [9]:
# Get the quartiles
quantile(cars$Fuel.Economy)

    0%    25%    50%    75%   100%
10.400 15.425 19.200 22.800 33.900

In [10]:
# Get the standard deviation
sd(cars$Fuel.Economy)

[1] 6.026948

In [11]:
# Get the total value
sum(cars$Fuel.Economy)

[1] 642.9

In [12]:
# Get the corelation coefficient
cor(x=cars$Cylinders, y=cars$Fuel.Economy)

[1] -0.852162

In [13]:
# Summarize an entire table
summary(cars)

                 Name       Transmission   Cylinders      Fuel.Economy
 AMC Javelin       : 1   Automatic:19    Min.   :4.000   Min.   :10.40
 Cadillac Fleetwood: 1   Manual   :13    1st Qu.:4.000   1st Qu.:15.43
 Camaro Z28        : 1                   Median :6.000   Median :19.20
 Chrysler Imperial : 1                   Mean   :6.188   Mean   :20.09
 Datsun 710        : 1                   3rd Qu.:8.000   3rd Qu.:22.80
 Dodge Challenger  : 1                   Max.   :8.000   Max.   :33.90
 (Other)           :26